

/* TOUTE LA PAGE */

body{
  font-family: 'Aldrich', sans-serif;
    /* font-family: 'Courier Prime', monospace;

    font-family: 'Mukta Malar', sans-serif;

    font-family: 'Spinnaker', sans-serif;

    font-family: 'Anonymous Pro', monospace; */
    background-image: url(../img/lil_fiber.png);
    /* background-repeat: no-repeat;
    background-size: cover; */
    /* background-repeat:repeat; */
    background-attachment:scroll;
    /* background-size: cover; */
    /* opacity: 0.95; */
    padding-top: 2em;
}

/* BARRE DE NAVIGATION ****************************************************************************** *********************************************************************************************************/
.navbar{
  background-color: #e6e643;
  width: 100%;
}
.account{
  margin: 0px 15px;
  background-color: #6ccfe6;
}
.logo-codevores{
  max-width: 15vw;
}
/* *************************************** */

ul li{
  color: #1061de;
  list-style: none;
}
ul{
  padding-left: 0;
}
.cross{
  font-size: 1.5em;
  background-color: inherit;
  border: none;
  color: blue;
}
.hamburger{
  text-align: right;
  font-size: 1.5em;
  background-color: inherit;
  border: none;
  color: blue;
}
.navbar, .hamburger{
  display: none;
}

@media screen and (min-width: 1024px) {
  .navbar{
    display: block;
  }
}
/* comment faire disparaitre le menu latéral lorsque on agrandit après avoir reduit la taille?? */
/* @media screen and (max-width: 1024px) {
  .navbar{
    display: none;
  }
} */
@media screen and (max-width: 1024px) {
  .hamburger{
    display: block;
  }
}
@media screen and (max-width: 1024px) {
  .connexion{
    max-width: 10vw;
    font-size: 0.8em;
  }

}
/*TITRE  ************************************************************************************************ ************************************************************************************************/

.title {
    text-shadow: #FC0 7px 4px 15px;
    color: blue !important;
    font-size: 5em;
    font-weight: 800;
    margin-bottom: 0em;
}
@media screen and (max-width: 1024px) {
  .title{
    font-size: 2em;
  }
}
.title-box{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: blue;
}
.undertitle{
  margin-top: -1.5em;
  margin-left: 2.5em;
}
.une{
    background-color: #9caaaa38;
    border-radius: 10px;
    margin-bottom: 8vh;
    padding-top: 8vh;
  }

/* INTERMEZZO ******************************************************* ******************************* **************************************************************************************************** */

.grid {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4vw;
    grid-auto-rows: minmax(100px, auto);
    padding: 0 5em 0 5em;
    text-align: justify;
}

/*CARDS***************** ****************************************************************************** ********************************************************************************** */
.card-body{
  background-color: #e9f74e;
}
.card-title{
  color: #4890bb;
}
.card{
  border: 1px solid #aa9528;
}
/* BIO *************************************************************************************************** */

.bio{
  width:50vw;
}

/* FOOTER************************************************************************************************ ******************************************************************************************************* */

html, body {
	height: 100%;
	margin: 0; padding: 0;
}
body {
	display : table;
	width: 100%;
}

/* ex footer à effacer après avoir vérifié que celui dessus fonctionne */
.footer {
  background-color: #094a5c;
  display: flex;
  /* position: fixed; */
  bottom: 5px;
  width: 100%;
  justify-content: space-around;
  padding-top: 1em;
  margin-top: 3em;
}
.copyright{
  position: static;
  bottom: 0;
  background-color: #094a5c;
  /* bottom: 5px; */
  width: 100%;
  /* padding-top: 1em; */
  text-align: center;
}
li{
  margin-bottom: 0rem;
  list-style: none;
}
h6{
  color: blue;
}
.copyright{
  color:#ccdbdc;
}


/* CONNEXION ********************************************************* *************************************************************************************************** */
.jumbotron{
  grid-column: 2 / 5;
  background: linear-gradient(#71cbee,#e8ee30);
  padding: 2rem;
}



/* Bannière cookies*********************************************************************************
.banner-cookies{
  height: 80px;
  width: 100%;
  background-color: yellow;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
}
.button-cookies{
  height: 30px;
  width:150px;
  background-color: green;
  border-color: green;
} */

/* comlunauté ******************************************************* ********************************* */
.page-communaute{
  height: 100%;
}
.devs{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.dev img {
    max-width: 7vw;
    height: 8vw;
}

/* *************************************** */
.trombi{
  width: 20vw !important;
  height: auto !important;
margin: 2vw 1vw;
border: 0px;
}
.trombi-container{
  display: flex;
  max-height: 100%;
  flex-wrap: wrap;
}
.trombi-img, .card-img-overlay{
  border: 1px solid yellow;
  width:20vw;
  height:auto;
}
/* ************************************************************************************* */
.formulaires-container{
  display: flex;
  justify-content: space-evenly;
}
.container-petit {
  max-width: 30vw;
  width: 100%;
  /* margin: 0 auto; */
  position: relative;
}
form h4{
  color: #210eaa;
}
form label{
  margin-bottom: 0rem;
  color: blue;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #e6e643;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: grey;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

/* fiche pro****************************** ***************************** ***************************** ********************** */

.didascalia {
  position: relative;
  /* text-align: center; */
}

.texte-dida {
  position: absolute;
  top: 10%;
  left: 80%;
  color:#1061de;
  font-size: 2em;
  transform: translate(-50%, -50%);
}
.fa-github-square{
  color: black;
  font-size: 2em;
}


/* FAQ */
.title-faq{
  text-shadow: #FC0 1px 0 10px;;
  color: blue !important;
  margin: 1.5em 0 1em 6em;
}
@media screen and (max-width: 1024px) {
  .title-faq{
    font-size: 2em;
  }
}
/* Actualités//////////////////////////////// */

.logo_geek{
  max-width: 15vw;
  max-height: 7vw;
  border-radius: 50px;
}
.geekzone{
    border: 1px solid #00dbff;
    background-color: #dadcd5;
    line-height: 2;
    border-radius: 6px;
    padding: 0 2em;
    margin-top: 2em;
    overflow: hidden;
}
/* professionnelles ******************************* */
.office{
  max-width: 40%;
}
.pros{
    border: 1px solid #00dbff;
    background-color: #dadcd5;
    line-height: 2;
    border-radius: 6px;
    padding: 0 2em;
    margin-top: 2em;
    margin-bottom: 10vh;
    overflow: hidden;
}
.titre-communaute{
  line-height: 3.3;
  color: #313177;
}
.pros li{
  text-indent: 2vw;
}
li h4{
  text-align: left;
}
