

/* PAGE ***********************************************************************************************/

body{
  font-family: 'Aldrich', sans-serif;
    background-image: url(../img/lil_fiber.png);
    background-attachment:scroll;
    padding-top: 2em;
}
html, body {
	height: 100%;
	margin: 0; padding: 0;
}
body {
	display: table;
	width: 100%;
}

/* BARRE DE NAVIGATION *******************************************************************************/

.account{
  margin: 0px 15px;
  background-color: #6ccfe6;
}
.logo-codevores{
  max-width: 15vw;
}
@media screen and (max-width: 576px){
  .logo-codevores{
    display: none;
  }
}
.navbar{
  background-color: #e6e643;
  widows: 100%;
}

/* Barre petits écrans ************************************************************************************ */

p{
  color: #4d6b98;
}
ul li{
  color: #4d6b98;
  list-style: none;
}

ul{
  padding-left: 0;
}
.cross{
  font-size: 1.5em;
  background-color: inherit;
  border: none;
  color: blue;
}
.hamburger{
  text-align: right;
  font-size: 1.5em;
  background-color: inherit;
  border: none;
  color: blue;
}
.navbar, .hamburger{
  display: none;
}
@media screen and (min-width: 1024px) {
  .navbar{
    display: block;
  }
}
/* comment faire disparaitre le menu latéral lorsque on agrandit après avoir reduit la taille?? */
/* @media screen and (max-width: 1024px) {
  .navbar{
    display: none;
  }
} */
@media screen and (max-width: 1024px) {
  .hamburger{
    display: block;
  }
}
@media screen and (max-width: 1024px) {
  .connexion{
    max-width: 10vw;
    font-size: 0.8em;
  }
}
/*TITRE  ***************************************************************************************************/

.title {
    text-shadow: #FC0 7px 4px 15px;
    color: #3697a6 !important;
    font-size: 5em;
    font-weight: 800;
    margin-bottom: 0.5em;
    font-family: 'Barriecito', cursive;
}
@media screen and (max-width: 1024px) {
  .title{
    font-size: 2em;
  }
}
.title-box{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #146382;
}
.undertitle{
  margin-top: -1.5em;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}
@media screen and (max-width: 992px) {
  .undertitle{
    display:none;
  }
}
.une{
    background-color: #9caaaa38;
    border-radius: 10px;
    margin-bottom: 8vh;
    padding-top: 8vh;
  }

/* INTERMEZZO *********************************************************************************************** */

.grid {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4vw;
    grid-auto-rows: minmax(100px, auto);
    padding: 0 5em 0 5em;
    text-align: justify;
}
@media screen and (max-width: 768px){
  .grid{
    display: block;
  }
}
/*CARDS****************************************************************************************************** */

.card-body{
  background-color: #e9f74e;
}
.card-title{
  color: #4890bb;
}
.card{
  border: 1px solid #aa9528;
}
/* BIO *************************************************************************************************** */

.bio{
  width:50vw;
}
@media screen and (max-width: 768px) {
  .bio{
    width:80vw;
  }
}

/* FOOTER************************************************************************************************ * */

.footer {
  background-color: #094a5c;
  display: flex;
  /* position: fixed; */
  bottom: 5px;
  width: 100%;
  justify-content: space-around;
  padding-top: 1em;
  margin-top: 3em;
}
@media screen and (max-width:768px){
  .footer{
    display: block;
    text-align: center;
  }
}
.copyright{
  position: static;
  bottom: 0;
  background-color: #094a5c;
  width: 100%;
  text-align: center;
}
li{
  margin-bottom: 0rem;
  list-style: none;
}
footer ul li, .copyright{
  color:#60efe8;
}
h6{
  color: #151578;
}
.social{
  font-size:2em;
}

/* CONNEXION ************************************************************************************** */

.jumbotron{
  grid-column: 2 / 5;
  background: linear-gradient(#71cbee,#e8ee30);
  padding: 2rem;
  box-shadow: 0.5em 8px 1.4em gray;
}

/* communauté ******************************************************* ********************************* */

.page-communaute{
  height: 100%;
}
.title-equipe{
  text-size: 2em;
  color:#522787;
  text-shadow: #FC0 1px 0 10px;
}
.devs{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
@media screen and (max-width:768px){
  .devs{
    display:none;
  }
}
.dev img {
    max-width: 7vw;
    height: 8vw;
}
.darker{
  filter:brightness(80%);
}
.clearer{
  filter:brightness(120%);
}
.dev img:hover {
    filter: opacity(50%);
}
.trombi{
  background-color: #fff0;
  border: none;
}
.trombi .card-title, .trombi .card-text{
  color:white;
}
.trombi a:hover{
  filter: opacity(50%);
}

/* Contact ************************************************************************************************* */

.formulaires-container{
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width:576px){
  .formulaires-container{
    display: block;
  }
}
.container-petit{
  max-width: 30vw;
  width: 100%;
  position: relative;
}
@media screen and (max-width:992px){
  .container-petit{
    max-width: 100%;
  }
}
form h4{
  color: #210eaa;
}
form h3{
  color: #56507b;
}
form label{
  margin-bottom: 0rem;
  color: blue;
}
#contact {
  background: #F9F9F9;
  padding: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}
#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}
fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}
#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}
#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}
#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #e6e643;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}
#contact button[type="submit"]:hover{
  background: grey;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}
::-webkit-input-placeholder {
  color: #888;
}
:-moz-placeholder {
  color: #888;
}
::-moz-placeholder {
  color: #888;
}
:-ms-input-placeholder {
  color: #888;
}

/* fiche pro*********************************************************************** ********************** */

.didascalia {
  position: relative;
  /* text-align: center; */
}
.texte-dida {
  position: absolute;
  top: 10%;
  left: 80%;
  color:#1061de;
  font-size: 2em;
  transform: translate(-50%, -50%);
}
@media screen and (max-width:576px){
  .texte-dida{
    font-size:1em;
  }
}
.fa-github-square{
  color: blue;
  font-size: 2em;
}

/* FAQ **********************************************************************************************************/

.title-faq{
  text-shadow: #FC0 1px 0 10px;;
  color: #3079c6;
  margin: 1.5em 0 1em 6em;
}
@media screen and (max-width: 1024px) {
  .title-faq{
    font-size: 2em;
    margin:30px;
  }
}

/* Actualités******************************************************************************************** */

.logo_geek{
  max-width: 15vw;
  max-height: 7vw;
  border-radius: 50px;
}
.geekzone{
    border: 1px solid #00dbff;
    background-color: #dadcd5;
    line-height: 2;
    border-radius: 6px;
    padding: 0 2em;
    margin-top: 2em;
    overflow: hidden;
}
.titre-actualités{
  color: #146382;
}
.pancake {
    border-radius: 5px;
    margin: 1em;
        margin-right: 1em;
    margin-right: 9em;
}
@media screen and (max-width:768px) {
  .pancake{
    display:none;
  }
}

/* professionnelles *************************************************************************************** */

.office{
  max-width: 40%;
}
.pros{
  border: 1px solid #00dbff;
  background-color: #dadcd5;
  line-height: 2;
  border-radius: 6px;
  padding: 0 2em;
  margin-top: 2em;
  margin-bottom: 20vh;
  overflow: hidden;
}
.pros h2{
  color: #337d88;
  margin: 1em 0;
}
.titre-communaute{
  line-height: 3.3;
  color: #313177;
}
@media screen and (max-width:768px){
  .titre-communaute{
    line-height: 1.3;
  }
}
.pros li{
  text-indent: 2vw;
  font-size: 1em;
}
.pros li span{
  color: green;
  font-weight: bold;
}
li h4{
  text-align: left;
}
/* Cookies banner*********************************************************** */
.banner-cookies{
  height: auto;
  width: 100%;
  background-color: #88c4c4;
  display: flex;
  padding: 10px 15px 10px 15px;
  align-items: center;
  position: fixed;
  bottom: 0;
  justify-content: space-evenly;
}
.button-cookies-yes{
  height: auto;
  width:150px;
  background-color: #14ac14;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin:5px;
}
.button-cookies-no{
  height: auto;
  width:150px;
  background-color: #de3333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin:5px;
}
.cookies-text{
  /* flex-grow: 1; */
  margin-left: 40px;
}
section>p{
  color:#3b506e;
}
@media screen and (max-width: 500px){
  .banner-cookies{
    display: block;
  }
}
